Assignment 2

1. Question 1:
Create a variable age and assign it the value 25 . Then print the value of
age along with its data type using the type() function.

In [1]:
age = 25
print("Value of age:", age)
print("Data type of age:", type(age))

Value of age: 25
Data type of age: <class 'int'>

2. Question 2:
Assign the number 12.5 to a variable price . Print both the variable and its
data type. Then assign the value 12 to the same variable and print its data
type again. What do you observe?

In [2]:
price = 12.5

print("Value of price:", price)
print("Data type of price:", type(price))

price = 12

print("New value of price:", price)
print("Data type of price now:", type(price))

Value of price: 12.5
Data type of price: <class 'float'>
New value of price: 12
Data type of price now: <class 'int'>

3. Question 3:
Create a variable is_raining and set it to True . Print the value of the variable
along with its type. Then set is_raining to False and print the new value and
type

In [3]:
is_raining = True
print("Value of is_raining:", is_raining)
print("Type of is_raining:", type(is_raining))

is_raining = False
print("New value of is_raining:", is_raining)
print("Type of is_raining now:", type(is_raining))

Value of is_raining: True
Type of is_raining: <class 'bool'>
New value of is_raining: False
Type of is_raining now: <class 'bool'>

4. Question 4:
Create a variable my_name and store your full name in it as a string. Then
print the value of my_name using single quotes ' .

In [4]:
my_name = "Vedantika Sukale"

print('My name is', my_name)

My name is Vedantika Sukale

5. Question 5:
Write a Python program that asks the user for their name and age using the
input() function. Store the inputs in variables and print a sentence like
"Hello, [Name]! You are [Age] years old." Ensure you cast the age to an
integer.

In [5]:
name = input("Enter your name: ")

age = int(input("Enter your age: "))

print("Hello,", name + "!", "You are", age, "years old.")

Enter your name: veda
Enter your age: 25
Hello, veda! You are 25 years old.

Question 6:
Create two variables x and y and assign them the values 10 and 3.5 ,
respectively. Print their values and types. Then, create a new variable
sum_xy and store the sum of x and y . Print the result and its type.

In [6]:
x = 10
y = 3.5

print("Value of x:", x, "Type:", type(x))
print("Value of y:", y, "Type:", type(y))

sum_xy = x + y

print("Sum of x and y:", sum_xy, "Type:", type(sum_xy))

Value of x: 10 Type: <class 'int'>
Value of y: 3.5 Type: <class 'float'>
Sum of x and y: 13.5 Type: <class 'float'>

7. Question 7:
Using the type() function, check and print the data type of the following:
45.0
"hello"
None
Assignment 2 2
False

In [1]:
a = 45.0
b = "hello"
c = None
d = False
print(a, "is of type", type(a))
print(b, "is of type", type(b))
print(c, "is of type", type(c))
print(d, "is of type", type(d))

45.0 is of type <class 'float'>
hello is of type <class 'str'>
None is of type <class 'NoneType'>
False is of type <class 'bool'>

8. Question 8:
Write a Python program to print three strings "apple" , "banana" , and "cherry"
on the same line, separated by a space. Then modify the program to
separate the strings using a comma , instead of a space.

In [2]:
print("apple", "banana", "cherry")          # space-separated
print("apple", "banana", "cherry", sep=", ")  # comma-separated

apple banana cherry
apple, banana, cherry

9. Question 9:
Create a variable big_number and assign it a very large integer value (e.g.,
987654321987654321 ). Print the value and its type. What do you notice about
the size of the number?

In [3]:
big_number = 987654321987654321
print("Value of big_number:", big_number)
print("Type of big_number:", type(big_number))

Value of big_number: 987654321987654321
Type of big_number: <class 'int'>

10. Question 10:
Write a Python program that prints the result of multiplying two floats (e.g.,
2.5 and 3.7 ). Then check and print the data type of the result.

In [4]:
a = 9.5
b = 4.3
result = a * b
print("Result of", a, "*", b, "=", result)
print("Data type of result:", type(result))

Result of 9.5 * 4.3 = 40.85
Data type of result: <class 'float'>